@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;
  position: none;
}
.container .header .head {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 15px 0;
  padding-right: 15px;
}
.container .header .head .logo_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.container .header .head .logo_img a img {
  width: 220px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
.container .header .head .search_box {
  display: flex;
  justify-content: center;
  padding-right: 15px;
}
.container .header .head .search_box .search_inp {
  width: 500px;
  border-radius: 25px;
  height: 35px;
  padding-left: 10px;
  font-weight: bolder;
  border: 1px solid white;
  color: black;
}
.container .header .head .search_box .search_btn {
  border-radius: 25px;
  height: 30px;
  padding-left: 10px;
  font-weight: bolder;
  background-color: black;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  margin-top: 5px;
}
.container .header .head .search_box .search_btn i {
  font-size: 25px;
  cursor: pointer;
  line-height: 5px;
}
.container .header .head .story_btn {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: 2.5px solid gold;
  margin-right: 20px;
  cursor: pointer;
  background-image: url(./imgs/romani_logo.png);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .header .head .story_btn span {
  color: white;
}
.container .header .mb_header_box {
  display: none;
}
.container .header .helpBoxOne {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #dcfaeb;
}
.container .header .helpBoxOne span {
  color: black;
  text-align: center;
  font-size: 17px;
}
.container .headerText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 25px;
  background-color: white;
  height: 35px;
  padding: 10px 0;
  width: 100%;
}
.container .headerText .mainText {
  color: white;
  text-align: center;
  background: black;
  height: 35px;
  border-bottom-left-radius: 15px;
  line-height: 30px;
  font-style: italic;
  width: 100%;
}
.container .headerText .mainText span {
  color: white;
  font-style: italic;
  width: 100%;
  font-size: 25px;
}
.container .headerText .some_icons {
  display: flex;
  justify-content: center;
  padding: 0 25px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #344e41;
}
.container .headerText .some_icons a {
  text-decoration: none;
  color: white;
}
.container .headerText .some_icons a i {
  font-size: 24px;
  margin: 15px;
}
.container .nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #344e41;
  overflow-x: scroll;
}
.container .nav a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  flex: 0 0 auto;
  margin: 0 10px;
  background-color: #344e41;
}
.container .brand_name {
  display: flex;
  justify-content: start;
  width: 200px;
  margin: 5px 0;
}
.container .brand_name h1 {
  position: relative;
  font-size: 20px;
  text-align: start;
  margin-top: 50px;
  font-style: italic;
  font-weight: 600;
  color: #29323c;
  margin-left: 42px;
}
.container .brand_name h1::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 75%;
  background: linear-gradient(89.5deg, rgb(4, 29, 55) -0.1%, rgb(2, 67, 135) 25.1%, rgb(28, 133, 243) 49.6%, rgb(115, 181, 250) 74.5%, rgb(214, 239, 253) 99.3%);
  font-size: 20px;
  text-align: center;
}
.container .product_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}
.container .product_box .product_card {
  width: calc(30% - 20px);
  /* Kartların genişliği ve aralarındaki boşluk */
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Hafif bir gölge efekti */
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
}
.container .product_box .product_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Hover'da gölge efekti */
}
.container .product_box .product_card .product_img {
  width: 100%;
  height: auto;
  /* Otomatik yükseklik */
  -o-object-fit: contain;
     object-fit: contain;
  /* Resmi kartın içine sığdır */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.container .product_box .product_card .product_details {
  padding: 1rem;
  text-align: center;
  /* Ortaya hizalama */
}
.container .product_box .product_card .product_details .product_name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
  /* Yazı rengini biraz koyulaştıralım */
}
.container .product_box .product_card .product_details .product_size {
  font-size: 1rem;
  color: #666;
  /* Yazı rengini biraz açalım */
  margin-bottom: 0.5rem;
}
.container .product_box .product_card .pro_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.container .product_box .product_card .pro_contact .whatsappButton {
  width: 90%;
  background-color: rgb(47, 158, 47);
  color: white;
  border: none;
  outline: none;
  height: 35px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.container .product_box .product_card .pro_contact .whatsappButton:hover {
  background-color: rgb(39, 132, 39);
  /* Hover'da renk değişimi */
}
.container .bars_box {
  width: 100%;
  height: auto;
  border: 2.5px solid rgb(111, 173, 255);
  background: rgba(0, 0, 0, 0.8901960784);
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  animation: slideInFromRight 1s forwards;
}
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.container .bars_box i {
  width: 100%;
  text-align: end;
  font-size: 25px;
  padding: 10px;
  background: #000;
}
.container .bars_box .bars_content {
  width: 100%;
  height: 100vh;
}
.container .bars_box .bars_content .brand_name {
  display: flex;
  justify-content: start;
  width: 200px;
  margin: 5px 0;
}
.container .bars_box .bars_content .brand_name h1 {
  position: relative;
  font-size: 20px;
  text-align: start;
  margin-top: 50px;
  font-style: italic;
  font-weight: 600;
  color: #c6cace;
  margin-left: 42px;
}
.container .bars_box .bars_content .brand_name h1::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(89.5deg, rgb(4, 29, 55) -0.1%, rgb(2, 67, 135) 25.1%, rgb(28, 133, 243) 49.6%, rgb(115, 181, 250) 74.5%, rgb(214, 239, 253) 99.3%);
  font-size: 20px;
  text-align: center;
}
.container footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 13px;
  background-color: rgba(0, 0, 0, 0.966);
}
.container footer span {
  color: white;
  font-size: 24px;
  margin: 10px;
  text-align: center;
  font-style: italic;
  font-weight: 500;
}

@media (min-width: 300px) and (max-width: 359px) {
  .container .header {
    position: relative;
  }
  .container .header .head {
    display: none;
  }
  .container .header .helpBoxOne {
    position: absolute;
    left: 0;
    top: 30%;
  }
  .container .header .mb_header_box {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0 10px;
    background-color: black;
  }
  .container .header .mb_header_box .mb_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: black;
    padding: 10px 0;
  }
  .container .header .mb_header_box .mb_header .logo_img {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .header .mb_header_box .mb_header .logo_img a img {
    width: 100%;
    height: 40px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .container .header .mb_header_box .mb_header .search_and_btn {
    display: flex;
    justify-content: center;
  }
  .container .header .mb_header_box .mb_header .search_and_btn .search_inp {
    width: 160px;
    border-radius: 25px;
    height: 26px;
    padding-left: 10px;
    font-weight: bolder;
    border: 1px solid white;
    color: black;
    font-size: 11px;
  }
  .container .header .mb_header_box .mb_header .search_and_btn .search_btn {
    border-radius: 25px;
    height: 30px;
    padding-left: 5px;
    font-weight: bolder;
    background-color: black;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    margin: 0 3px;
  }
  .container .header .mb_header_box .mb_header .search_and_btn .search_btn i {
    font-size: 25px;
    cursor: pointer;
    line-height: 5px;
  }
  .container .header .mb_header_box .mb_header .menu_box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .header .mb_header_box .mb_header .menu_box i {
    font-size: 30px;
    padding: 0 5px;
  }
  .container .header .mb_header_box .story_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .container .header .mb_header_box .story_box .story_about_time {
    display: flex;
    justify-content: center;
    width: 100%;
    background: black;
    padding: 10px 0;
    padding-top: 20px;
  }
  .container .header .mb_header_box .story_box .story_about_time .story_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 45px;
    background: #000;
    border-radius: 50px;
    border: 2.5px solid gold;
    margin: 5px;
  }
  .container .header .mb_header_box .story_box .story_about_time .story_btn span {
    color: white;
    font-size: 13px;
  }
  .container .header .mb_header_box .story_box .story_about_time div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
  }
  .container .header .mb_header_box .story_box .story_about_time div .mainText {
    color: white;
    text-align: center;
    font-size: 13px;
  }
  .container .header .mb_header_box .story_box .mb_some_icons {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  .container .header .mb_header_box .story_box .mb_some_icons div a i {
    font-size: 20px;
    margin: 0 5px;
  }
  .container .headerText {
    display: none;
  }
  .container .nav {
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
  }
  .container .nav a {
    font-size: 13px;
    font-weight: 800;
  }
  .container .brand_name {
    display: flex;
    justify-content: start;
    width: 200px;
    margin: 5px 0;
  }
  .container .brand_name h1 {
    font-size: 20px;
    text-align: start;
    margin-top: 10px;
    font-style: italic;
    font-weight: 600;
    color: #29323c;
    margin-left: 20px;
  }
  .container .product_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
  }
  .container .product_box .product_card {
    width: calc(50% - 20px);
    /* Kartların genişliği ve aralarındaki boşluk */
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: #fff;
  }
  .container .product_box .product_card:hover {
    transform: translateY(-5px);
  }
  .container .product_box .product_card .product_img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    /* Resmi kartın içine sığdır */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .container .product_box .product_card .product_details {
    padding: 1rem;
  }
  .container .product_box .product_card .product_details .product_name {
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 0.5rem;
  }
  .container .product_box .product_card .product_details .product_size {
    text-align: center;
    color: black;
    font-weight: bolder;
    margin-bottom: 0.5rem;
    font-size: 13px;
  }
}
@media (min-width: 360px) and (max-width: 500px) {
  .container .header {
    position: relative;
  }
  .container .header .head {
    display: none;
  }
  .container .header .helpBoxOne {
    position: absolute;
    left: 0;
    top: 30%;
  }
  .container .header .mb_header_box {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 10px 10px;
    background-color: black;
  }
  .container .header .mb_header_box .mb_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: black;
    padding: 10px 0;
  }
  .container .header .mb_header_box .mb_header .logo_img {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .header .mb_header_box .mb_header .logo_img a img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .container .header .mb_header_box .mb_header .search_and_btn {
    display: flex;
    justify-content: center;
  }
  .container .header .mb_header_box .mb_header .search_and_btn .search_inp {
    width: 210px;
    border-radius: 25px;
    height: 27px;
    padding-left: 10px;
    font-weight: bolder;
    border: 1px solid white;
    color: black;
    margin-right: 5px;
  }
  .container .header .mb_header_box .mb_header .search_and_btn .search_btn {
    border-radius: 25px;
    height: 30px;
    padding-left: 5px;
    font-weight: bolder;
    background-color: black;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    margin: 0 3px;
  }
  .container .header .mb_header_box .mb_header .search_and_btn .search_btn i {
    font-size: 20px;
    cursor: pointer;
    line-height: 5px;
  }
  .container .header .mb_header_box .mb_header .menu_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
  }
  .container .header .mb_header_box .mb_header .menu_box i {
    font-size: 25px;
    padding: 0 5px;
  }
  .container .header .mb_header_box .story_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .container .header .mb_header_box .story_box .story_about_time {
    display: flex;
    justify-content: center;
    width: 100%;
    background: black;
    padding: 10px 0;
    padding-top: 20px;
  }
  .container .header .mb_header_box .story_box .story_about_time .story_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 50px;
    background: #000;
    border-radius: 50px;
    border: 2.5px solid gold;
    margin: 5px;
  }
  .container .header .mb_header_box .story_box .story_about_time .story_btn span {
    color: white;
    font-size: 11px;
  }
  .container .header .mb_header_box .story_box .story_about_time div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
  }
  .container .header .mb_header_box .story_box .story_about_time div .mainText {
    color: white;
    text-align: center;
    font-size: 12px;
  }
  .container .header .mb_header_box .story_box .mb_some_icons {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  .container .header .mb_header_box .story_box .mb_some_icons div a i {
    font-size: 20px;
    margin: 0 5px;
  }
  .container .headerText {
    display: none;
  }
  .container .nav {
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
  }
  .container .nav a {
    font-size: 14px;
    font-weight: 700;
  }
  .container .brand_name {
    display: flex;
    justify-content: start;
    width: 200px;
    margin: 5px 0;
  }
  .container .brand_name h1 {
    font-size: 20px;
    text-align: start;
    margin-top: 10px;
    font-style: italic;
    font-weight: 600;
    color: #29323c;
    margin-left: 20px;
  }
  .container .product_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
  }
  .container .product_box .product_card {
    width: calc(50% - 20px);
    /* Kartların genişliği ve aralarındaki boşluk */
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: #fff;
  }
  .container .product_box .product_card:hover {
    transform: translateY(-5px);
  }
  .container .product_box .product_card .product_img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    /* Resmi kartın içine sığdır */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .container .product_box .product_card .product_details {
    padding: 1rem;
  }
  .container .product_box .product_card .product_details .product_name {
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 0.5rem;
  }
  .container .product_box .product_card .product_details .product_size {
    text-align: center;
    color: black;
    font-weight: bolder;
    margin-bottom: 0.5rem;
    font-size: 13px;
  }
}
@media (min-width: 501px) and (max-width: 576px) {
  .container .header {
    position: relative;
  }
  .container .header .head {
    display: none;
  }
  .container .header .helpBoxOne {
    position: absolute;
    left: 0;
    top: 40%;
  }
  .container .header .mb_header_box {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: black;
    padding: 0 10px;
  }
  .container .header .mb_header_box .mb_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: black;
    padding-right: 15px;
  }
  .container .header .mb_header_box .mb_header .logo_img {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .header .mb_header_box .mb_header .logo_img a img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .container .header .mb_header_box .mb_header .search_and_btn {
    display: flex;
    justify-content: center;
  }
  .container .header .mb_header_box .mb_header .search_and_btn .search_inp {
    width: 250px;
    border-radius: 25px;
    height: 30px;
    padding-left: 10px;
    font-weight: bolder;
    border: 1px solid white;
    color: black;
  }
  .container .header .mb_header_box .mb_header .search_and_btn .search_btn {
    border-radius: 25px;
    height: 20px;
    padding-left: 10px;
    font-weight: bolder;
    background-color: black;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    margin-top: 5px;
  }
  .container .header .mb_header_box .mb_header .search_and_btn .search_btn i {
    font-size: 20px;
    cursor: pointer;
    line-height: 5px;
  }
  .container .header .mb_header_box .mb_header .menu_box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .header .mb_header_box .mb_header .menu_box i {
    font-size: 20px;
  }
  .container .header .mb_header_box .story_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .container .header .mb_header_box .story_box .story_about_time {
    display: flex;
    justify-content: center;
    width: 100%;
    background: black;
    padding: 10px 0;
  }
  .container .header .mb_header_box .story_box .story_about_time .story_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 60px;
    background: #000;
    border-radius: 50px;
    border: 2px solid gold;
  }
  .container .header .mb_header_box .story_box .story_about_time .story_btn span {
    color: white;
  }
  .container .header .mb_header_box .story_box .story_about_time div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .container .header .mb_header_box .story_box .story_about_time div .mainText {
    color: white;
    text-align: center;
    font-size: 15px;
  }
  .container .header .mb_header_box .story_box .mb_some_icons {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  .container .header .mb_header_box .story_box .mb_some_icons div a i {
    font-size: 20px;
    margin: 0 5px;
  }
  .container .headerText {
    display: none;
  }
  .container .nav a {
    font-size: 13px;
  }
  .container .product_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
  }
  .container .product_box .product_card {
    width: calc(51% - 20px);
    /* Kartların genişliği ve aralarındaki boşluk */
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: #fff;
  }
  .container .product_box .product_card:hover {
    transform: translateY(-5px);
  }
  .container .product_box .product_card .product_img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    /* Resmi kartın içine sığdır */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .container .product_box .product_card .product_details {
    padding: 1rem;
  }
  .container .product_box .product_card .product_details .product_name {
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 0.5rem;
  }
  .container .product_box .product_card .product_details .product_size {
    text-align: center;
    color: black;
    font-weight: bolder;
    margin-bottom: 0.5rem;
    font-size: 13px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .container .header {
    position: relative;
  }
  .container .header .head {
    display: none;
  }
  .container .header .helpBoxOne {
    position: absolute;
    left: 0;
    top: 40%;
  }
  .container .header .mb_header_box {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 15px 15px;
    background-color: black;
  }
  .container .header .mb_header_box .mb_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: black;
    padding-right: 15px;
  }
  .container .header .mb_header_box .mb_header .logo_img {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .header .mb_header_box .mb_header .logo_img a img {
    width: 90px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .container .header .mb_header_box .mb_header .search_and_btn {
    display: flex;
    justify-content: center;
  }
  .container .header .mb_header_box .mb_header .search_and_btn .search_inp {
    width: 250px;
    border-radius: 25px;
    height: 30px;
    padding-left: 10px;
    font-weight: bolder;
    border: 1px solid white;
    color: black;
  }
  .container .header .mb_header_box .mb_header .search_and_btn .search_btn {
    border-radius: 25px;
    height: 20px;
    padding-left: 10px;
    font-weight: bolder;
    background-color: black;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    margin-top: 5px;
  }
  .container .header .mb_header_box .mb_header .search_and_btn .search_btn i {
    font-size: 20px;
    cursor: pointer;
    line-height: 5px;
  }
  .container .header .mb_header_box .mb_header .menu_box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .header .mb_header_box .mb_header .menu_box i {
    font-size: 20px;
  }
  .container .header .mb_header_box .story_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .container .header .mb_header_box .story_box .story_about_time {
    display: flex;
    justify-content: center;
    width: 100%;
    background: black;
    padding: 10px 0;
  }
  .container .header .mb_header_box .story_box .story_about_time .story_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 60px;
    background: #000;
    border-radius: 50px;
    border: 2px solid gold;
  }
  .container .header .mb_header_box .story_box .story_about_time .story_btn span {
    color: white;
  }
  .container .header .mb_header_box .story_box .story_about_time div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .container .header .mb_header_box .story_box .story_about_time div .mainText {
    color: white;
    text-align: center;
    font-size: 15px;
  }
  .container .header .mb_header_box .story_box .mb_some_icons {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  .container .header .mb_header_box .story_box .mb_some_icons div a i {
    font-size: 20px;
    margin: 0 5px;
  }
  .container .headerText {
    display: none;
  }
  .container .nav a {
    font-size: 13px;
  }
  .container .product_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
  }
  .container .product_box .product_card {
    width: 178px;
    /* Kartların genişliği ve aralarındaki boşluk */
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: #fff;
  }
  .container .product_box .product_card:hover {
    transform: translateY(-5px);
  }
  .container .product_box .product_card .product_img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    /* Resmi kartın içine sığdır */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .container .product_box .product_card .product_details {
    padding: 1rem;
  }
  .container .product_box .product_card .product_details .product_name {
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 0.5rem;
  }
  .container .product_box .product_card .product_details .product_size {
    text-align: center;
    color: black;
    font-weight: bolder;
    margin-bottom: 0.5rem;
    font-size: 13px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .container .header {
    width: 100%;
  }
  .container .header .head .logo_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .container .header .head .logo_img a img {
    width: 150px;
    height: 110px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .container .header .head .search_box {
    display: flex;
    justify-content: center;
    padding-right: 15px;
  }
  .container .header .head .search_box .search_inp {
    width: 320px;
    border-radius: 25px;
    height: 35px;
    padding-left: 10px;
    font-weight: bolder;
    border: 1px solid white;
    color: black;
  }
  .container .header .mb_header_box {
    display: none;
  }
  .container .header .story_btn {
    width: 75px;
    height: 75px;
  }
  .container .headerText .mainText span {
    font-size: 16px;
    padding: 3px 0;
  }
  .container .headerText span {
    font-size: 16px;
    padding: 3px 0;
  }
  .container .headerText .some_icons {
    display: flex;
  }
  .container .headerText .some_icons i {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */